<h3>Endorsement Information Dialog</h3>
<div *ngFor="let endorsement of jsonValueData" >
    Endorsement Reason: {{endorsement.endorsementReason}}
    <br>
    Entry Date: {{endorsement.entryDate}}
    <br>
    Od Changes: {{endorsement.odChanges}}
    <br>
    Premium Change: {{endorsement.premiumChange}}
    <br>
    Idv Change: {{endorsement.idvChange}}
    <br>
    New Ncb: {{endorsement.newNcb}}
    <br>
    Endrosement Remark: {{endorsement.endrosementRemark}}
    <br>
    Voucher Number: {{endorsement.voucherNumber}}
    <br>
    Shortfall Amount: {{endorsement.shortfallAmount}}
</div>